<section class="header">
  <div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="images/TravelVerse-Logo.png" alt="TravelVerse Logo">
        </a>
      </div>
      <div class="navbar-start">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button" id="home" a href="/">
              <strong>Home</strong>
            </a>
          </div>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" id="signupbutton" a href="signup">
              <strong>Sign up</strong>
            </a>
            <a class="button is-primary" id="loginbutton" a href="/login">
             <strong> Log in </strong> 
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>