{{!-- Header with full-width --}}
<div id="header">
  <div class="container">
    <h1>TravelVerse</h1>
  </div>
</div>

{{!-- full-width map container --}}
<div class="map">
  <div class="container">
  </div>
</div>

{{!-- full-width news/weather container --}}
<div class="orange-bg">
  <div class="container">

  </div>
</div>

{{!-- attractions div --}}
<div class="container">

</div>
