{{!-- full-width map container --}}

<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map"></div>  

<section class="section">
  <div class="container">  
  </div>
</section>

{{!-- full-width news/weather container --}}
<section class="section">
  <div class="container">    
  </div>
</section>

{{!-- attractions div --}}
<section class="section">
  <div class="container">
  </div>
</section>
