{{!-- full-width map container --}}
<section class="section">
  <div class="container">
  </div>
</section>

{{!-- full-width news/weather container --}}
<section class="section">
  <div class="container">
  </div>
</section>

{{!-- attractions div --}}
<section class="section">
  <div class="container">
  </div>
</section>
