<div class="container">
    <div class="login"> LOGIN </div>

    <div class="login-form">
        <input type="text" placeholder="Enter Email Address" class="input"><br />
        <input type="password" placeholder="Enter Password" class="input"><br />
        <div class="btn">log in</div>
        <span><a href="#">I forgot my Password.</a></span>
    </div>
</div>