<div class="containerform">
   <div class="signup-form">
        <input type="text" placeholder="Enter First Name" class="input"> <br/>
        <input type="text" placeholder="Enter Last Name" class="input"> <br/>
        <input type="text" placeholder="Enter Email Address" class="input"> <br/>
        <input type="text" placeholder="Enter City" class="input"> <br/>
        <input type="text" placeholder="Enter Phone Number" class="input"> <br/>
        <input type="text" placeholder="Enter Password" class="input"> <br/>
        <input type="text" placeholder="Confirm Password" class="input"> <br/>
        <div class="btn"> Register Account</div>
      </div>
</div>