<div class="containerform">
  <form id="RegistrationForm">
    <div class="signup-form">
      <p><input type="text" name="firstname" id="firstname" placeholder="Enter First Name" class="input" required></p>
      <p><input type="text" name="lastname" id="lastname" placeholder="Enter Last Name" class="input" required></p>
      <p><input type="email" name="emailaddress" id="emailaddress" placeholder="Enter Email Address" class="input" required></p>
      <p><input type="text" name="city" id="city" placeholder="Enter City" class="input" required></p>
      <p><input type="text" name="mobilenumber" id="mobilenumber" placeholder="Enter Mobile Number" class="input" required></p>
      <p><input type="text" name="password" id="password" placeholder="Enter Password" class="input" required></p>
      <p><input type="text" name="repassword" id="repassword" placeholder="Re-enter Password" class="input" required> </p>
      <input type="submit" class="btn" value="Register Account">
    </div>
  </form>
</div>